x-splitbox {
  position: relative;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

x-splitbox[direction="column"] {
  -webkit-box-orient: vertical;
  -moz-box-orient: verticalvertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

x-splitbox[dragging], x-splitbox > [splitter] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

x-splitbox > [splitter] {
  display: block;
  position: relative;
  min-width: 0.5em;
  cursor: ew-resize;
  background: #ccc;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

  x-splitbox > [splitter]:before {
    content: " ";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75em;
    height: 1.5em;
    border: inherit;
    background: inherit;
    border-radius: 10em;
    -webkit-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
  }

  x-splitbox > [splitter]:after {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDI1MCAxMDI0IDEwMjQiPjxwYXRoIGZpbGw9InJnYmEoMCwwLDAsMC41KSIgZD0iTTE1My42IDM5OS4zNmMtNjIuMjA4IDAtMTEyLjY0IDUwLjQzMi0xMTIuNjQgMTEyLjY0czUwLjQzMiAxMTIuNjQgMTEyLjY0IDExMi42NCAxMTIuNjQtNTAuNDMyIDExMi42NC0xMTIuNjRjMC02Mi4yMDgtNTAuNDMyLTExMi42NC0xMTIuNjQtMTEyLjY0ek01MTIgMzk5LjM2Yy02Mi4yMDggMC0xMTIuNjQgNTAuNDMyLTExMi42NCAxMTIuNjRzNTAuNDMyIDExMi42NCAxMTIuNjQgMTEyLjY0IDExMi41ODktNTAuNDMyIDExMi41ODktMTEyLjY0YzAtNjIuMjA4LTUwLjM4MS0xMTIuNjQtMTEyLjU4OS0xMTIuNjR6TTg3MC40IDM5OS4zNmMtNjIuMjA4IDAtMTEyLjY0IDUwLjQzMi0xMTIuNjQgMTEyLjY0czUwLjQzMiAxMTIuNjQgMTEyLjY0IDExMi42NCAxMTIuNjQtNTAuNDMyIDExMi42NC0xMTIuNjRjMC02Mi4yMDgtNTAuNDMyLTExMi42NC0xMTIuNjQtMTEyLjY0eiI+PC9wYXRoPjwvc3ZnPg==');
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.5em;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }

  x-splitbox[direction="column"] > [splitter] {
    min-width: auto;
    min-height: 0.5em;
    cursor: ns-resize;
  }

  x-splitbox[direction="column"] > [splitter]:before {
    width: 1.5em;
    height: 0.75em;
  }

  x-splitbox[direction="column"] > [splitter]:after {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  x-splitbox > [splitter][dragging] {
    z-index: 3;
  }

  x-splitbox > [splitter][dragging]:before {
    display: block;
    background: #eaeaea;
  }

x-splitbox > *:not([splitter]) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: auto;
}


@media screen and (max-device-width: 415px) {
  x-splitbox > [splitter]:before {
    display: block;
  }

    x-splitbox[direction="column"] > [splitter] {
      display: block;
    }
}
